.lista {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.lista h2 {
    margin-left: 60px;
    font-size: 40px;
    color: #81be3f;
}

.lista div {
    margin-top: 2%;
    width: 50%;
    height: 10%;
    margin-left: 25%;
}

.lista input {
    width: 80%;
    height: 70%;
    border: 2px solid black;
}

.lista button {
    height: 70%;
    width: 18%;
    border-radius: 5px;
    padding: 5px;
}

#listaItens {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 25%;
}

.lista ul {
    width: 50%;
    flex-direction: column;
}

#listaItens li {
    height: 50px;
    background: #81be3f;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

#listaItens li:hover {
    background: #2c3f18;
}

.mens {
    display: flex;
    flex-direction: column;
    height: 20vh;
}

.mens h2 {
    margin-left: 60px;
    font-size: 40px;
    color: #81be3f;
}