.tabelaUsuarios {
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.tabelaUsuarios h2 {
    margin-left: 60px;
    font-size: 40px;
    color: #81be3f;
}

.adicionaUsuarios {
    display: flex;
    flex-direction: column;
    height: 20vh;
}

.adicionaUsuarios h2 {
    margin-left: 60px;
    font-size: 40px;
    color: #81be3f;
}

.adicionaUsuarios form {
    margin-left: 60px;
    margin-top: 1%;
}
